<%- include('partials/header.ejs'); -%>
<div class="container col-xxl-8 px-4 py-5"> 
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
        <div class="col-10 col-sm-8 col-lg-6"> 
            <img src="assets/bookshelfhero.jpg" class="d-block mx-lg-auto img-fluid" alt="Hero image displaying a Book Shelf" width="700" height="500" loading="lazy"> 
        </div> 
        <div class="col-lg-6"> 
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to Rahil's Book Reviews</h1> 
            <p class="lead">Welcome to our Book Review hub, where stories come alive beyond the pages. 
                Whether you’re a lifelong reader or just starting your literary journey, this is the place to discover honest reviews, 
                thoughtful reflections, and recommendations across every genre. From timeless classics to the latest bestsellers, 
                we share insights that help you choose your next great read. Dive in, explore different perspectives, 
                and let books spark your imagination, one review at a time.
            </p> 
            <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
                <a type="button" class="btn btn-dark btn-lg px-4 me-md-2" href="/reviews">Book Reviews</a> 
                <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/add">Add a Review</a> 
            </div> 
        </div> 
    </div> 
</div>
<%- include('partials/footer.ejs'); -%>