<%- include('partials/header.ejs'); -%>
<div class="text-center">
  <img src="https://cdn.pixabay.com/photo/2024/07/20/17/12/warning-8908707_1280.png" class="rounded" alt="404 error message" height="400">
</div>
<%- include('partials/footer.ejs'); -%>